<html>
 
    <body>
    <button type="button" [routerLink]="['/customercreate']" routerLinkActive="router-link-active"><b>+ Create New</b></button>
<table class="table table-sm table-bordered" style="width:80%" align="center">
          <thead class="table-active" align="center">
              <th scope="col">CUSTOMER NO</th>
              <th scope="col">FIRSTNAME</th>
              <th scope="col">LASTNAME</th>
              <th scope="col">BIRTHDATE</th>
              <th scope="col">USERNAME</th>
              <th scope="col">PASSWORD</th>
              <th scope="col">NO PHONE</th>
              <th scope="col">PHONE TYPE</th>
              <th scope="col">ACTION</th>
          </thead>
          <tbody>
            <tr *ngFor="let cust of listCustomer">
              <td><a (click)="selectCustomer(cust);"><u>{{cust.customerNumber}}</u></a></td>
             <!--  <th scope="row">1</th> -->
              <td>{{cust.firstName}}</td>
              <td>{{cust.lastName}}</td>
              <td>{{cust.birthDate}}</td>
              <td>{{cust.username}}</td>
              <td>{{cust.password}}</td>
              <td>{{cust.phoneNumber}}</td>
              <td>{{cust.phoneType}}</td>
            <td>
            <button (click)="show(cust)">View </button>
            <!-- <button (click)="selectCustomer(cust);"><u>{{cust.customerNumber}}>Edit</button> -->
            <!-- <button (click)="edit">Edit</button> -->
            <button (click)="delete(cust.customerNumber)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table><br>
      <app-customerform #formCustomer *ngIf="showDetail" [customer]="selectedCustomer" (result)="prosesResult($event)"></app-customerform> 
  </body>
</html>