<html>
  <head>
    <title>

    </title>
  </head>
  <body><h1> Form Account </h1>
    <form [formGroup]="accountFormGroup">
    <table>
      <tr><td>Open Date:</td>
      <td> <input type="date"  formControlName="openDate"></td><br>
    </tr>
    <tr>
      <td>Balance: </td>
      <td><input type="text" formControlName="balance"></td>
    </tr>
    <tr>
      <td>Customer Id: </td>
      <!-- <td><input type="text" formControlName="customerId"></td> -->
      <app-accountcombo (customer)="setSelectedCustomer($event)"></app-accountcombo> 
      <!-- fungsi di line 20 memanggil combobox di shared -->
    </tr>
    </table>
    </form>

    <button type="button" (click)="cancelChanges()">Cancel</button>
    <button type="button" (click)="submitData()" [disabled]="!accountFormGroup.valid">Update</button>
    <button type="button" (click)="insertData()">Insert</button>
  </body>
</html>