<html>
  <head>
<title>Transaction List</title>
  </head>
  <body>
    <table class="table table-bordered table-purple">
      <thead>
        <th scope="col">Transaksi ID</th>
        <th scope="col">Amount Sign</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
        <th scope="col">Account ID</th>
        <th scope="col">Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let trans of listTransaction">
          <td><a (click)="selectTransaction(trans);"><u>{{trans.idtrans}}</u></a></td>
          <td>{{trans.amountsign}}</td>
          <td>{{trans.amount}}</td>
          <td>{{trans.type}}</td>
          <td>{{trans.accountId ? trans.accountId.accountNumber : " "}}</td>
          <td>
            <button (click)="delete(trans.idtrans)">delete</button></td>
          </tr>
        </tbody>
      </table>
      <!-- <div>
        <app-customerform #formCustomer *ngIf="showDetail" [customer]="selectedCustomer" (result)="prosesResult($event)"></app-customerform>
      </div> -->
      <app-transactionform #formTransaction *ngIf="showDetail" [transaction]="selectedTransaction" (result)="prosesResult($event)"></app-transactionform>
    </body>
  </html>