<html>
  <head>
<title>Transaction List</title>
  </head>
  <body class="index-page sidebar-collapse">
    <button type="button" [routerLink]="['/transactioncreate']" routerLinkActive="router-link-active">+ Create New</button>
    <table class="table table-sm table-bordered" style="width:60%" align="center">
      <thead class="table-active" align="center">
        <th scope="col">NO TRANSACTION</th>
        <th scope="col">AMOUNT SIGN</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">TYPE</th>
        <th scope="col">Account ID</th>
        <th scope="col">ACTION</th>
      </thead>
      <tbody>
        <tr *ngFor="let trans of listTransaction">
          <td><a (click)="selectTransaction(trans);"><u>{{trans.idtrans}}</u></a></td>
          <td>{{trans.amountsign}}</td>
          <td>{{trans.amount}}</td>
          <td>{{trans.type}}</td>
          <td>{{trans.accountId ? trans.accountId.accountNumber : " "}}</td>
          <td align="center">
            <button (click)="delete(trans.idtrans)">delete</button></td>
          </tr>
        </tbody>
      </table>
      <!-- <div>
        <app-customerform #formCustomer *ngIf="showDetail" [customer]="selectedCustomer" (result)="prosesResult($event)"></app-customerform>
      </div> -->
      <app-transactionform #formTransaction *ngIf="showDetail" [transaction]="selectedTransaction" (result)="prosesResult($event)"></app-transactionform>
    </body>
  </html>