<html>
  <head>
<title>Account List</title>
  </head>
  <body class="index-page sidebar-collapse">
    <button type="button" [routerLink]="['/accountcreate']" routerLinkActive="router-link-active">+ Create New</button>
    <table class="table table-sm table-bordered" style="width:60%" align="center">
        <thead class="table-active" align="center">
            <th scope="col">ACCOUNT NO</th>
            <th scope="col">DATE</th>
            <th scope="col">BALANCE</th>
            <th scope="col">NAME</th>
            <th scope="col">ACTION</th>
      </thead>
      <tbody>
        <tr *ngFor="let acc of listAccount">
          <td><a (click)="selectAccount(acc);"><u>{{acc.accountNumber}}</u></a></td>
          <td>{{acc.openDate}}</td>
          <td>{{acc.balance}}</td>
          <td>{{acc.customerId ? acc.customerId.firstName : " "}}</td>
          <td>
          <button (click)="show(acc)">View</button>
          <button (click)="edit">Edit</button>
          <button type="button" (click) = "delete(acc.accountNumber)">delete</button></td>
        </tr>
      </tbody>
    </table>
  </body>
  <app-accountform #formAccount *ngIf="showDetail" [account]="selectedAccount" (result)="prosesResult($event)"></app-accountform>
</html>